h3{
  font-size:1.1 rem;
}

ion-badge{
  color:white;
  margin-right: 8px;
  font-weight:bold;
}

.titulo{
  text-align: center;
  font-weight: bold;
  color:#ff0000;
}

.num{
color:#000000;
font-weight: 700;
}

.npoke{
  font-family:sans-serif;
  font-weight: 600;
}

.barra{
background-color: #ffffff;
}
