h3{
  font-size:1.1 rem;
}

ion-badge{
  color:white;
  margin-right: 8px;
  font-weight:bold;
}

.titulo{
  text-align: center;
  font-weight: bold;
}

.num{
color:black;
font-weight: 600;
}

.npoke{
  font-family:sans-serif;
  font-weight:unset;
}

