<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titulo">
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Searchbar with a placeholder -->
<ion-searchbar placeholder="Buscar Pokemons"></ion-searchbar>

<!-- List of Text Items -->
<ion-list>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Bulbasaur</h3>
        <ion-badge color="grass">Grass</ion-badge>
        <ion-badge color="poison">Poison</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">001</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Charmander</h3>
        <ion-badge color="fire">Fire</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">004</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Squirtle</h3>
        <ion-badge color="water">Water</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">007</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Pikachu</h3>
        <ion-badge color="eletric">Eletric</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">025</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/038.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Ninetales</h3>
        <ion-badge color="fire">Fire</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">038</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/054.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Psyduck</h3>
        <ion-badge color="water">Water</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">054</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/056.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Mankey</h3>
        <ion-badge color="fighting">Fighting</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">056</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/063.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Abras</h3>
        <ion-badge color="psychic">Psychic</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">063</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/067.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Machoke</h3>
        <ion-badge color="fighting">Fighting</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">067</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/072.png">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3 class="npoke">Tentacol</h3>
        <ion-badge color="water">Water</ion-badge>
        <ion-badge color="poison">Poison</ion-badge>
      </div>
    </ion-label>
    <ion-chip color="success">
      <ion-label class="num">072</ion-label>
    </ion-chip>
  </ion-item>

</ion-list>

</ion-content>
